@font-face {
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url(Font/JosefinSans-VariableFont_wght.ttf) format("ttf");
}
h1 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 15px;
    color: #ffffff;
}

h2, input {
    font-size: 18px;
    font-weight: 400;
}

#list__count, h4 {
    font-size: 14px;
    font-weight: 400;
}

#list__mobile button, #list__desktop button {
    font-size: 14px;
    font-weight: 600;
    color: inherit;
}

p {
    font-size: 12px;
    font-weight: 400;
}
p a {
    font-weight: 600;
    color: #3a7bfd;
    text-decoration: underline;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

body {
    color: #777a92;
    background-color: #fff;
}

#page {
    width: 100vw;
    min-height: 100vh;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url(IMAGE/mobile-day-background.jpg);
}
#page div {
    max-width: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container div {
    width: 90%;
}

#header {
    display: flex;
    flex-wrap: nowrap;
    margin: 70px 0 50px 0;
    justify-content: space-between;
    align-items: flex-start;
}
#header button {
    border: none;
    cursor: pointer;
    color: inherit;
    background-color: transparent;
}
#header button img {
    width: 26px;
    height: 26px;
}

#day {
    display: none;
}

#create__todo {
    border-radius: 5px;
    box-shadow: 0 35px 50px #C2C3D680;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}
#create__todo input {
    border: none;
    background-color: inherit;
}
#create__todo button {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #C2C3D680;
    cursor: pointer;
    color: inherit;
    background-color: transparent;
}

#main {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main div {
    width: 100%;
}

#main__list {
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    min-height: 300px;
    margin-top: 25px;
    border: 1px #fff;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 35px 50px #C2C3D680;
}

#listTodo {
    position: absolute;
    border-bottom: 1px solid #C2C3D680;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#listTodo input {
    border: none;
    background-color: inherit;
}
#listTodo button {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #C2C3D680;
    cursor: pointer;
    color: inherit;
    background-color: transparent;
}

#list__count {
    bottom: 0;
    padding: 20px;
    justify-content: space-between;
    background-color: #fff;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#list__count button {
    padding: 10px;
    border: inherit;
    cursor: pointer;
    color: inherit;
    background-color: transparent;
}
#list__count h4 {
    padding: 10px;
}

#list__desktop {
    display: none;
}

#list__mobile {
    margin-top: 15px;
    padding: 20px;
    border-radius: 5px;
    justify-content: center;
    box-shadow: 0 35px 50px #C2C3D680;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#list__mobile button {
    padding: 10px;
    margin-right: 20px;
    border: none;
    cursor: pointer;
    color: inherit;
    background-color: transparent;
}

#main__drag {
    margin: 40px 0;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#footer {
    position: sticky;
    padding: 10px;
    bottom: 0;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 -5px 5px rgba(68, 68, 68, 0.1);
}
#footer p img {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: transparent;
}

@media screen and (min-width: 580px) {
    #page {
        background-image: url(IMAGE/desktop-day-background.jpg);
    }

    #container div {
        max-width: 540px;
    }

    #list__count {
        display: inline-flex;
    }

    #list__desktop {
        display: block;
        background-color: #fff;
    }

    #list__mobile {
        display: none;
    }
}
