@import "variables";

@font-face {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(../Font/JosefinSans-VariableFont_wght.ttf) format("ttf");
}

h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 15px;
  color: $exception-color;
}

h2, input {
  font-size: 18px;
  font-weight: 400;
}

#list__count, h4 {
  font-size: 14px;
  font-weight: 400;
}

#list__mobile, #list__desktop {
  button {
    font-size: 14px;
    font-weight: 600;
    color: inherit;
  }
}

p {
  font-size: 12px;
  font-weight: 400;

  a {
    font-weight: 600;
    color: $hover-color;
    text-decoration: underline;
  }
}
