:root{
    --bg-color:#{$bg-color};
    --list-bg: #{$list-bg};
    --primary-color: #{$primary-color};
    --secondary_color: #{$secondary-color};
    --btn-active: #{$btn-active};
    --border-color: #{$border-color};
    --box-shadow: #{$box-shadow};
    --switch-btn-bg: #{$switch-btn-bg};
    --primary-image: #{$primary-image};
    --secondary-image: #{$secondary-image};
    --btn-bg: #{$btn-bg};
}