@font-face {
  font-family: "Josefin Sans", sans-serif;
  src: url("../Font/JosefinSans-VariableFont_wght.ttf");
}
h1 {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 15px;
  color: #fff;
}

h2, input {
  font-size: 18px;
  font-weight: 400;
}

#main__count {
  font-size: 14px;
  color: #4d5066;
}
#main__count button {
  font-weight: 400;
}
#main__count #main__category__mobile {
  font-weight: 700;
  color: inherit;
}

p {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}
p a {
  font-weight: 600;
  color: #3a7bfd;
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  color: #777a92;
  background-color: #161722;
}

#page {
  width: 100vw;
  min-height: 100vh;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: url(../IMAGE/mobile-night-background.jpg);
}
#page div {
  max-width: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container div {
  width: 90%;
}

#header {
  margin: 70px 0 50px 0;
  justify-content: space-between;
  align-items: flex-start !important;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#header button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
#header button img {
  overflow: hidden;
}

#day {
  display: none;
}

#create__todo {
  border-radius: 5px;
  box-shadow: 0px 35px 50px #00000080;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  background-color: #25273c;
}
#create__todo input {
  border: none;
  background-color: inherit;
}
#create__todo button {
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid #393a4c;
  cursor: pointer;
  background-color: transparent;
}

#main {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main div {
  width: 100%;
}

#main__list {
  min-height: 225px;
  margin-top: 25px;
  list-style-type: none;
  background-color: #25273c;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#list__todo {
  border-bottom: 1px solid #393a4c;
  padding: 20px;
  background-color: #25273c;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#list__todo input {
  border: none;
  background-color: inherit;
}
#list__todo button {
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid #393a4c;
  cursor: pointer;
  background-color: transparent;
}

#list__count {
  width: 100%;
  padding: 20px;
  justify-content: space-between;
  box-shadow: 0px 35px 50px #00000080;
  background-color: #25273c;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#list__count button {
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
#list__count #list__desktop {
  display: none;
}

#main__list__mobile {
  margin-top: 15px;
  padding: 20px;
  border-radius: 5px;
  justify-content: space-evenly;
  box-shadow: 0px 35px 50px #00000080;
  background-color: #161722;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#main__list__mobile button {
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

#main__drag {
  margin: 40px auto 80px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#footer {
  bottom: 0;
  padding: 10px;
  position: fixed;
  text-align: center;
  justify-content: center;
  background-color: #161722;
  box-shadow: 0 -5px 5px rgba(68, 68, 68, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
}
#footer p img {
  margin: 0 5px;
  overflow: hidden;
  background-color: inherit;
}

@media screen and (min-width: 580px) {
  #page {
    background-image: url(../IMAGE/desktop-night-background.jpg);
  }

  #container div {
    max-width: 540px;
  }

  #list__count {
    width: 100%;
    padding: 20px;
    box-shadow: 0px 35px 50px #00000080;
  }
  #list__count #list__desktop {
    display: block;
  }

  #main__list__mobile {
    display: none;
  }
}

/*# sourceMappingURL=toDoList.css.map */
