@import "font-size-color";
@import "day-theme.css";
@import "night-theme.css";

//general
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

@mixin flex_row_wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin button {
  cursor: pointer;
  background-color: transparent;
}


//whole page
body {
  background-color: var(--bg-color);
}

#page {
  width: 100vw;
  min-height: 100vh;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: var(--primary-image);

  div {
    max-width: 100%;
  }
}

#container {
  div {
    width: 90%;
  }

  @include flex_column();
}


//header
#header {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  margin: 70px 0 50px 0;

  button {
    width: 26px;
    height: 26px;
    border: none;
    cursor: pointer;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: var(--switch-btn-bg);
    @include button();
  }
}


//create to do
@mixin todo {
  padding: 20px;
  background-color: var(--list-bg);
  input {
    border: none;
    background-color: var(--list-bg);
    &:focus{
      border: none;
    }
  }
  button {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 50%;
    border: var(--border-color);
    background-color: var(--list-bg);
  }
}

#create__todo {
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  @include flex_row_wrap();
  @include todo();
}

//main
#main {
  justify-content: center;

  div {
    width: 100%;
  }

  @include flex_column();
}

//list of to do     //parent
#main__list {
  min-height: 300px;
  margin-top: 25px;
  border-radius: 10px;
  justify-content: space-between;
  border: 1px var(--list-bg);
  background-color: var(--list-bg);
  box-shadow: var(--box-shadow);
  @include flex_column
}

#list__todo {
  cursor: grab;
  border-bottom: var(--border-color);

  &:hover {
    button {
      border-color: var(--btn-hover-border);
    }

    #delete__btn {
      display: block;
      border: none;
    }
  }

  div {
    color: var(--list-color);
    button{
      img{
        display: none;
        width: 15px;
        height:15px;
      }
    }
    @include flex_row_wrap;
  }

  @include todo();
  @include flex_row_wrap();
}

.remove {
  display: none;
}

.true {
  button {
    background:var(--btn-bg);
    img{
      display: block;
      background-color: transparent;
    }
  }

  span {
    color: var(--complete-color);
    text-decoration: line-through;

  }
}

#delete__btn {
  width: 25px;
  height: 25px;
  display: none;
  border: none;
  cursor: pointer;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: var(--delete-btn);
}

#list__count {
  padding: 20px;
  border: none;
  justify-content: space-between;
  background-color: var(--list-bg);

  button {
    padding: 10px;
    border: inherit;
    @include button();

    &:hover {
      color: var(--hover-color);
    }
  }

  h4 {
    padding: 10px;
  }

  @include flex_row_wrap();
}

#list__desktop {
  display: none;

  button {
    &:hover {
      color: var(--hover-color);
    }

    &:focus {
      color: var(--checked-color);
    }
  }
}

#list__mobile {
  margin-top: 15px;
  padding: 20px;
  border-radius: 5px;
  justify-content: center;
  box-shadow: var(--box-shadow);
  color: var(--secondary-color);
  background-color: var(--list-bg);

  button {
    padding: 10px;
    margin-right: 20px;
    border: none;

    &:hover {
      color: var(--hover-color)
    }

    &:focus {
      color: var(--checked-color);
    }

    @include button();
  }

  @include flex_row_wrap();
}

//drag and drop sentence
#main__drag {
  margin: 40px 0;
  justify-content: center;
  @include flex_row_wrap();
}


//footer
#footer {
  padding: 10px;
  bottom: 0;
  position: sticky;
  text-align: center;
  background-color: var(--bg-color);
  box-shadow: 0 -5px 5px rgb(68 68 68 / 10%);

  p {
    img {
      width: 12px;
      height: 12px;
      margin: 0 5px;
      background-color: transparent;
    }
  }
}


//desktop
@media screen and (min-width: 580px) {
  #page {
    background-image: var(--secondary-image);
  }

  #container {
    div {
      max-width: 540px;
    }
  }

  #list__count {
    display: inline-flex;
  }

  #list__desktop {
    display: block;
    background-color: var(--list-bg);
  }

  #list__mobile {
    display: none;
  }

}

