@import "font";
@import "variables";

//general
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

@mixin flex_row_wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}


//whole page
body {
  color: $primary-color;
  background-color: $bg-color;
}

#page {
  width: 100vw;
  min-height: 100vh;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: $primary-image;
  div{
    max-width: 100%;
  }
}

#container {
  @include flex_column();
  div{
    width: 90%;
  }
}


//header
#header {
  display: flex;
  flex-wrap: nowrap;
  margin: 70px 0 50px 0;
  justify-content: space-between;
  align-items: flex-start;
  button{
    border: none;
    @include button();
    img{
      width: 26px;
      height: 26px;
    }
  }
}

#day{
  display: none;
}

//create to do
@mixin todo {
  padding: 20px;
  background-color: $list-bg;
  input {
    border: none;
    background-color: inherit;
  }
  button {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 50%;
    border: $border-color;
    @include button();
  }
}

#create__todo {
  border-radius: 5px;
  box-shadow: $box-shadow;
  @include flex_row_wrap();
  @include todo();
}

//main
#main {
  justify-content: center;
  @include flex_column();
  div{
    width: 100%;
  }
}

//list of to do     //parent
#main__list {
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
  min-height: 300px;
  margin-top: 25px;
  border: 1px $list-bg;
  border-radius:10px;
  background-color: $list-bg;
  box-shadow: $box-shadow;
}

#listTodo {
  position: absolute;
  border-bottom: $border-color;
  @include todo();
  @include flex_row_wrap();
}

#list__count {
  bottom: 0;
  padding: 20px;
  justify-content: space-between;
  background-color: $list-bg;
  border: none;
  @include flex_row_wrap();
  button {
    padding: 10px;
    border: inherit;
    @include button();
  }
  h4{
    padding: 10px;
  }
}

#list__desktop {
  display: none;
}

#list__mobile {
  margin-top: 15px;
  padding: 20px;
  border-radius: 5px;
  justify-content: center;
  box-shadow: $box-shadow;
  background-color: $list-bg;
  @include flex_row_wrap();
  button {
    padding: 10px;
    margin-right: 20px;
    border: none;
    @include button();
  }
}

//drag and drop sentence
#main__drag {
  margin: 40px 0;
  justify-content: center;
  @include flex_row_wrap();
}


//footer
#footer {
  position: sticky;
  padding: 10px;
  bottom: 0;
  text-align: center;
  background-color: $bg-color;
  box-shadow: 0 -5px 5px rgb(68 68 68 / 10%);
  p{
    img {
      width: 12px;
      height: 12px;
      margin: 0 5px;
      background-color: transparent;
    }
  }
}


//desktop
@media screen and (min-width: 580px) {
  #page {
    background-image: $secondary-image;
  }

  #container{
    div{
      max-width: 540px;
    }
  }

  #list__count{
    display: inline-flex;
  }

  #list__desktop {
    display: block;
    background-color: $list-bg;
  }

  #list__mobile {
    display: none;
  }

}
